
spring:
    application:
        name: "client-scheduling-microsservice"
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:client-scheduling-db}
        username: ${DB_USER:postgres}
        password: ${DB_PASSWORD:postgres}
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
application:
    security:
        jwt:
            secret-key:

springdoc:
    api-docs:
        path: /api-docs